.horizontal-radio .slds-form-element__control .slds-radio{
    display : inline-block !important;
    font-size: 22px;
}
.horizontal-radio .slds-form-element__control{
    font-size: 30px;
}
.title{
    font-weight: bold;
}

body{
    background-color: #F3F2F2;
}

.card-container div.slds-card__body{
    padding-left: 17px !important;
}
.card-container article.slds-card{
    padding: 10px !important;
}